<link rel="stylesheet" href="css/style.css">

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/g1.webp" alt="Los Angeles">
            </div>
            <div class="col-lg-4">
                <img src="images/g2.webp" alt="Los Angeles">
            </div>
            <div class="col-lg-4">
                <img src="images/g3.webp" alt="Los Angeles">
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/g4.webp" alt="Los Angeles">
            </div>
            <div class="col-lg-4">
                <img src="images/g5.webp" alt="Los Angeles">
            </div>
            <div class="col-lg-4">
                <img src="images/g6.webp" alt="Los Angeles">
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="row">
            <div class="col-lg-4">
                <img src="images/g7.webp" alt="Los Angeles">
            </div>
            <div class="col-lg-4">
                <img src="images/g8.webp" alt="Los Angeles">
            </div>
            <div class="col-lg-4">
                <img src="images/g9.webp" alt="Los Angeles">
            </div>
        </div>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon" style="background-color: black;"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon" style="background-color: black;"></span>
  </a>
</div>
<div class="who_we_wrap">
    <div class="inner_cont">
        <div class="title">Who Are We?</div>
        <div class="who_we_cont">
           <div class="who_we_img">
               <img src="images/about-who.jpg" alt="">
           </div>
           <div class="who-we-content">
               <p>Vision optics is a leading online eyewear brand specializing in youthful, fashion-forward innovative range of spectacles, sunglasses, prescription sunglasses, computer glasses, frames &amp; specialized lenses. Driven towards helping millions improve their vision &amp; lead better lives, Vision optics brings up-to-the-minute eye care solutions backed by high quality &amp; trendy products, exceptional customer service and fast deliveries with hassle-free returns.</p>
           </div> 
        </div>
    </div>
</div>
<div class="why_shop_wrap">
        <div class="title">Why Shop With Us?</div>
        <div class="why_shop_tp_cont">
            <img src="images/who-are-we-bg2-tp.jpg" alt="" style="max-width:100%;">
        </div>    
        <div class="why_shop_cont">
            <div class="inner_cont">
               <ul>
                   <li>Exceptional Shopping <span>Experience</span></li>
                   <li>Exclusive &amp;  <span>Innovative Collections</span></li>
                   <li>Youth Oriented  <span>4000+ Designs</span></li>
                   <li>Trendy Additions <span>Every Week</span></li>
                   <li>High Quality <span>Product Material</span></li>
                   <li>Free Shipping &amp; <span>Easy Returns</span></li>
               </ul>
            </div>
        </div>
</div>
 