<style>
    body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("images/vision_op.png");

  min-height: 380px;
  
  /* Center and scale the image nicely */
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

</style>
<div class="row justify-content-md-center bg-img">
    <div class="col-md-6" style="margin-top: 200px;margin-right: 20px;margin-left:550px">
        {{#if message}}
            <div class="alert {{messageClass}}" role="alert">
                {{message}}
            </div>
        {{/if}}
        <form method="POST" action="/login">
            <div class="jumbotron" style="background-image: linear-gradient(to right top, #c88ac8, #aa9cdd, #8bace5, #78b8e1, #79c1d5);">
                <h2 class="text-center">Admin Login</h2>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email"  type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{email}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <center><button type="submit" class="btn btn-primary btn-lg">Login</button></center>
            </div>
        </form>
        
    </div>
</div>